<link rel="stylesheet" href="../static/css/admin.css">
{% extends "base.html" %}
{% block main %}
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            <h1 class="center-text">Administration de la base de donnée</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-entreprises-tab" data-toggle="pill" href="#v-pills-entreprises" role="tab" aria-controls="v-pills-entreprises" aria-selected="true">Entreprises</a>
                <a class="nav-link" id="v-pills-etudiants-tab" data-toggle="pill" href="#v-pills-etudiants" role="tab" aria-controls="v-pills-etudiants" aria-selected="false">Étudiants</a>
                <a class="nav-link" id="v-pills-competences-tab" data-toggle="pill" href="#v-pills-competences" role="tab" aria-controls="v-pills-competences" aria-selected="false">Compétences</a>
                <a class="nav-link" id="v-pills-statistiques-tab" data-toggle="pill" href="#v-pills-statistiques" role="tab" aria-controls="v-pills-statistiques" aria-selected="false">Statistiques</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-entreprises" role="tabpanel" aria-labelledby="v-pills-entreprises-tab">
                    <div class="row">
                        <div class="col">
                            <h3 class="center-text">Liste des Entreprises</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <input type="search" class="form-control light-table-filter " data-table="table-ent" placeholder="Filter/Search">
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-base" onclick="sauverEnt()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sd-card-fill" viewBox="0 0 16 16"><path d="M12.5 0H5.914a1.5 1.5 0 0 0-1.06.44L2.439 2.853A1.5 1.5 0 0 0 2 3.914V14.5A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0Zm-7 2.75a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Zm2 0a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Zm2.75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 1.5 0Zm1.25-.75a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Z"/></svg>   Sauver</button>
                            <a href="/Admin/NewEnt" role="button" class="btn btn-success mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16"><path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/></svg>+<b>  Nouveau</b></a>
                        </div>
                    </div>
                    <div class="row scroll-pane">
                        <table id="table-ent" class="table table-striped table-ent">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom</th>
                                    <!-- <th scope="col">Priorité</th> -->
                                    <th scope="col">Blacklist</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ent in ents %}
                                <tr id="rowEnt{{ent.idEnt}}">
                                    <th scope="row">{{ent.idEnt}}</th>
                                    <td>{{ent.nomEnt}}</td>
                                    {% if ent.blackList%}
                                    <td>  <input type="checkbox" id={{ent.idEnt}} name={{ent.idEnt}} value="blacklist" checked></td>
                                    {% else %}
                                    <td>  <input type="checkbox" id={{ent.idEnt}} name={{ent.idEnt}} value="blacklist"></td>
                                    {% endif %}
                                    <td>
                                    <button class="btn btn-base"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench-adjustable" viewBox="0 0 16 16"><path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z"/><path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg></button>
                                    <button type="submit" class="btn bg-danger" onclick="deleteEnt({{ ent.idEnt }})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E7E7E7" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-etudiants" role="tabpanel" aria-labelledby="v-pills-etudiants-tab">
                    <div class="row">
                        <div class="col">
                            <h3 class="center-text">Liste des Étudiants</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <input type="search" class="form-control light-table-filter " data-table="table-etu" placeholder="Filter/Search">
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-base" onclick="sauverEtu()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sd-card-fill" viewBox="0 0 16 16"><path d="M12.5 0H5.914a1.5 1.5 0 0 0-1.06.44L2.439 2.853A1.5 1.5 0 0 0 2 3.914V14.5A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0Zm-7 2.75a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Zm2 0a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Zm2.75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 1.5 0Zm1.25-.75a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 1 .75-.75Z"/></svg>   Sauver</button>
                            <a href="/Admin/NewUser" role="button" class="btn btn-success mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16"><path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/></svg><b>  Nouveau</b></a>
                        </div>
                    </div>
                    <div class="row scroll-pane">
                        <table id="table-etu" class="table table-striped table-etu">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr id="rowEtu{{user.numEtu}}">
                                    <th scope="row">{{user.numEtu}}</th>
                                    <td>{{user.nom}}</td>
                                    <td>{{user.prenom}}</td>
                                    {% if user.administrateur%}
                                    <td>  <input type="checkbox" id={{user.numEtu}} name={{user.numEtu}} value="admin" checked></td>
                                    {% else %}
                                    <td>  <input type="checkbox" id={{user.numEtu}} name={{user.numEtu}} value="admin"></td>
                                    {% endif %}
                                    <td>
                                        <a href="/Admin" role="button" class="btn btn-base mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench-adjustable" viewBox="0 0 16 16"><path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z"/><path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg></a>
                                        <button type="submit" class="btn bg-danger" onclick="deleteEtu({{ user.numEtu }})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E7E7E7" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-competences" role="tabpanel" aria-labelledby="v-pills-competences-tab">
                    <div class="row">
                        <div class="col">
                            <h3 class="center-text">Liste des Conpétences</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <input type="search" class="form-control light-table-filter " data-table="table-comp" placeholder="Filter/Search">
                        </div>
                        <div class="mx-auto">
                            <a href="/Admin/NewComp" role="button" class="btn btn-success mx-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16"><path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/></svg>+<b>  Nouveau</b></a>
                        </div>
                    </div>
                    <div class="row scroll-pane">
                        <table id="table-comp" class="table table-striped table-comp">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cpt in cpts %}
                                <tr id="rowComp{{cpt.id}}">
                                    <th scope="row">{{cpt.id}}</th>
                                    <td>{{cpt.competence}}</td>
                                    <td>
                                        <a href="/Admin" role="button" class="btn btn-base mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench-adjustable" viewBox="0 0 16 16"><path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z"/><path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg></a>
                                        <button type="submit" class="btn bg-danger" onclick="deleteComp({{ cpt.id }})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E7E7E7" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-statistiques" role="tabpanel" aria-labelledby="v-pills-statistiques-tab">
                            <div class="col">
                                <h3 class="center-text">Tableau de Bord</h3>
                            </div>
                    <div class="container scroll-pane">
                        <div class="row">
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h6>Un utilisateur a en moyenne<h2>{{avgCptEtu}}</h2> compétence(s) </h6>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h6>Un utilisateur a aimé en moyenne<h2>{{avgLike}}</h2> entreprise(s) </h6>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h6>Une entreprise a en moyenne<h2>{{avgCptEnt}}</h2> compétence(s) </h6>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="col">
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <canvas id="myChart3"></canvas>
                            </div>
                            <div class="col">
                                <canvas id="myChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script  src="../static/js/admin.js"></script>
{% endblock %}