<link rel="stylesheet" href="../static/css/contact.css">
{% extends "base.html" %}
    {% block main %}
        <div class="home">
            <div class="title">
                <h1>{{ title }}</h1>
            </div>
            <div class="contacts">
                <section>
                    <h2>Nos Contacts</h2>
                    <p>example@gmail.com</p><br>
                    <p>16 Rue d’Issoudun, 45100 Orléans</p>
                </section>
            </div>
            <a class="btn btn-lg" href="/" role="button" id="acceuil">Acceuil</a>
        </div>
    {% endblock %}
