{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="../static/css/history.css">

<div class="history-main">
    <h1 class="history-title">Historique</h1>
    <div class="cards-land">
        {% for x in entreprises %}
        <div class="card-history">
            <div class="company-informations">
                <p class="company-name">{{ x.nomEnt }}</p>
                <p class="company-address"><ion-icon name="home-outline"></ion-icon>1 Av. Roger Secrétain, 45100 Orléans</p>
                <p class="company-employees"><ion-icon name="people-outline"></ion-icon>Effectif</p>
                <p class="company-phone"><ion-icon name="call-outline"></ion-icon>Téléphone</p>
                <p class="company-activity"><ion-icon name="business-outline"></ion-icon>Activité</p>
            </div>
            <div class="company-description">
                {{ x.desc }}
            </div>
            <div class="company-buttons">
                <button class="trash-btn"><ion-icon name="trash-outline"></ion-icon></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% macro render_pagination(entreprises) %}
        <ul class="pagination">
            {% for page_num in entreprises.iter_pages() %}
            {% if page_num %}
            <li class="page-item"><a href="{{ url_for('historique', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
            {% else %}
            <a href="{{ request.url }}">Refresh</a>
            {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}
</div>

{% endblock %}