{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/register.css">
<div class="home">
    <div class="title">
        <h1>Ajouter une nouvelle Compétence</h1>
    </div>
    <div class="formulaire">
    <form method="POST" action="/Admin/NewComp">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">{{ form.nom_comp.label }}</label>
            {{ form.nom_comp(placeholder="Nom de la compétence") }}
        </div>
        <div class="form-group register-land">
            <input type="submit" value="Ajouter" id="NewComp" class="register-btn">
        </div>
    </form>
    </div>
</div>
{% endblock %}