{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/register.css">
<div class="home">
    <div class="title">
        <h1>Ajouter une nouvelle Entreprise</h1>
    </div>
    <div class="formulaire">
	<form method="POST" action="/Admin/NewEnt">
		<div class="form-group">
			<label for="name">{{ form.name.label }}</label>
			{{ form.name(placeholder="Nom de l'entreprise") }}
		</div>
		<div class="form-row">
            <div class="form-group col-md-6">
                <label for="num_siren">{{ form.num_siren.label }}</label>
                {{ form.num_siren(placeholder="Numéro SIREN de l'entreprise") }}
            </div>
            <div class="form-group col-md-6">
                <label for="num_siret">{{ form.num_siret.label }}</label>
                {{ form.num_siret(placeholder="Numéro SIRET de l'entreprise") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="code_ape">{{ form.code_ape.label }}</label>
                {{ form.code_ape(placeholder="Code APE de l'entreprise") }}
            </div>
            <div class="form-group col-md-6">
                <label for="effectifs">{{ form.effectifs.label }}</label>
                {{ form.effectifs(placeholder="effectifs de l'entreprise") }}
            </div>
        </div>
		<div class="form-group">
			<label for="desc">{{ form.desc.label }}</label>
			{{ form.desc(class="form-control",placeholder="Description brèves des activitées de l'entreprise") }}
		</div>
		<div class="form-group register-land">
            <input type="submit" value="Ajouter" id="NewEnt" class="register-btn">
        </div>
	</form>
    </div>
</div>
{% endblock %}