{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/register.css">
<div class="home">
    <div class="title">
        <h1>Ajouter un nouvel Utilisatateur</h1>
    </div>
    <div class="formulaire">
        <form method="POST" action="/Admin/NewUser">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="etu_num">{{ form.etu_num.label }}</label>
                {{ form.etu_num(placeholder="Numéro étudiant") }}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">{{ form.name.label }}</label>
                    {{ form.name(placeholder="Nom") }}
                </div>
                <div class="form-group col-md-6">
                    <label for="first_name">{{ form.first_name.label }}</label>
                    {{ form.first_name(placeholder="Prénom") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password(placeholder="Mot de passe") }}
                </div>
                <div class="form-group col-md-6">
                    <label for="confirm">{{ form.confirm.label }}</label>
                    {{ form.confirm(placeholder="Confirmer mot de passe") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="admin">{{ form.admin.label }}</label>
                    {{ form.admin() }}
                </div>
            </div>
            <div class="form-group register-land">
                    <input type="submit" value="Ajouter" id="inscription" class="register-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}