<link rel="stylesheet" href="../static/css/profile.css">
{% extends "base.html" %}
    {% block main %}
        <div class="main-info">
            <div class="profile-main">
                <h1 class="title">Votre Profil</h1>
                <ul class="profile-info">
                    <li class="list-info-profile">Nom : {{nom}}</li>
                    <li class="list-info-profile">Prénom : {{prenom}}</li>
                    <li class="list-info-profile">Numéro d'inscription : {{numetu}}</li>
                    <a href="/Historique"><input type="submit" value="Historique" class="history-button"></a>
                </ul>
                <form method='POST' action='/Profil' class="profile-form">
                    <p>Compétences :</p>
                    <div class="grid-skills">
                    {% for x in competences_dispo %}
                        {% if x in competences %}
                            <input class="skills-button" style="display:none;" type="checkbox" id="{{x.competence}}" name="{{x.competence}}"checked autocomplete="off">
                            <label class="skills-label" for="{{x.competence}}">{{x.competence}}</label>
                        {% else %}
                            <input class="skills-button" style="display:none;" type="checkbox" id="{{x.competence}}" name="{{x.competence}}"autocomplete="off">
                            <label class="skills-label" for="{{x.competence}}">{{x.competence}}</label><br>
                        {% endif %}
                    {% endfor %}
                    </div>
                <button type="submit" class="submit-btn"><i class="fa fa-check" aria-hidden="true"></i>Valider</button>
                <p><a class="deconnect-btn" href="/Déconnexion" role="button">Déconnexion</a></p>
                </form>
            </div>
        </div>
    {% endblock %}
