@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* TITRE SLOGAN */

h1 {
    font-weight: 900;
    font-size: 50px;
    color: rgb(233, 151, 0);
    margin: 0;
    padding: 0px 0px 10px 0px;
}

.landing-page {
    margin: 25px;
    box-sizing: border-box;
    padding-right: 0px;
    width: 580px;
}

.title {
    padding: 0px 0px 16px;
    position: relative;
}

.slogan {
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.slogan p {
    padding: 0;
    margin: 0;
}

/* CHAMPS DE CONNEXION */

.champs {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0;
}

.champs label {
    padding: 0;
    margin: 5px 0px 5px 0px;
    font-weight: 500;
    font-size: 20px;
}

.champs > input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 17px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons #connexion {
    width: 324px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(22, 255, 22, 1);
    border-color: rgba(22, 255, 22, 1);
    cursor: pointer;
    transition: 0.5s;
}

.buttons #inscription {
    width: 324px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(24, 220, 255, 1);
    border-color: rgba(24, 220, 255, 1);
    cursor: pointer;
    transition: 0.5s;
}

.buttons #connexion:hover {
    transition: 0.5s;
    background-color: rgba(22, 255, 22, 0.5);
    border-color: rgba(22, 255, 22, 0.5);
}

.buttons #inscription:hover {
    transition: 0.5s;
    background-color: rgba(24, 220, 255, 0.5);
    border-color: rgba(24, 220, 255, 0.5);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}